@import "../../../styles/media.css";

.container {
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    overflow: hidden;

    @media (--tablet) {
        padding: 30px 16px;
        max-width: 528px;
    }

    @media (--desktop) {
        padding: 40px 16px;
        max-width: 928px;
    }
}
