@import "../../../../styles/media.css";

.title {
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    margin-top: 24px;
    margin-bottom: 24px;

    @media (--tablet) {
        font-weight: 700;
        line-height: 26px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    @media (--desktop) {
        font-weight: 800;
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 32px;
    }
}

.paragraph {
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }

    @media (--tablet) {
        &:nth-last-child(2) {
            margin-bottom: 32px;
        }
    }

    @media (--desktop) {
        margin-bottom: 28px;
    }
}
